@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/static/Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/static/Inter-Bold.ttf);
    font-weight: 700;
}

body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter";
    font-weight: 400;
    text-align: center;
}

h1, h2 {
    font-weight: 600;
}

button {
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 14px 0;
    color: inherit;
    background-color: hsl(0, 0%, 20%);
    font-weight: 600;
    border: none;
}

button:not(:last-of-type) {
    margin-bottom: 20px;
}

main {
    background-color: hsl(0, 0%, 12%);
    width: 90%;
    margin: auto;
    max-width: 400px;
    padding: 45px;
}

h2 {
    color: hsl(75, 94%, 57%);
}

img {
    border-radius: 50%;
    width: 120px;
}

/* * {
    border: 1px solid green;
} */